*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.box{
    background: #fff;
    width: 380px;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

.logo{
    width: 80px;
    height: 80px;
    background: #4CAF50;
    color: white;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 15px;
}

h2{
    margin-bottom: 6px;
    color: #333;
}

.subtitle{
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

label{
    text-align: left;
    font-size: 14px;
    color: #555;
    display: block;
}

input{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button{
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #43a047;
    transition: .2s;
}

.links{
    margin-top: 12px;
}

.links a{
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
}

@media(max-width:420px){
    .box{
        width: 100%;
        padding: 20px;
    }
}
