* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v144_870 {
  width: 100%;
  height: 1469px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v161_899 {
  width: 840px;
  height: 84px;
  background: url("../images/v161_899.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 68px;
  overflow: hidden;
}
.v161_900 {
  width: 840px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v161_901 {
  width: 836px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 46px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v161_929 {
  width: 840px;
  height: 75px;
  background: url("../images/v161_929.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 112px;
  overflow: hidden;
}
.v161_930 {
  width: 840px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v161_931 {
  width: 836px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 37px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v169_947 {
  width: 854px;
  height: 133px;
  background: url("../images/v169_947.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 852px;
  left: 147px;
  overflow: hidden;
}
.v169_948 {
  width: 854px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_949 {
  width: 836px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v169_967 {
  width: 418px;
  height: 121px;
  background: url("../images/v169_967.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1241px;
  left: 147px;
  overflow: hidden;
}
.v169_968 {
  width: 418px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_969 {
  width: 836px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v169_954 {
  width: 726px;
  height: 108px;
  background: url("../images/v169_954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1029px;
  left: 147px;
  overflow: hidden;
}
.v169_955 {
  width: 726px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v169_956 {
  width: 306px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v169_961 {
  width: 336px;
  height: 114px;
  background: url("../images/v169_961.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 0px;
  overflow: hidden;
}
.v169_971 {
  width: 336px;
  height: 114px;
  background: url("../images/v169_971.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1325px;
  left: 152px;
  overflow: hidden;
}
.v169_972 {
  width: 430px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v169_978 {
  width: 336px;
  height: 114px;
  background: url("../images/v169_978.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1439px;
  left: 553px;
  overflow: hidden;
}
.v161_921 {
  width: 100%;
  height: 467px;
  background: url("../images/v161_921.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 71px;
  overflow: hidden;
}
.v161_904 {
  width: 521px;
  height: 392px;
  background: url("../images/v161_904.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 51px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v161_907 {
  width: 270px;
  height: 180px;
  background: url("../images/v161_907.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 616px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v161_910 {
  width: 270px;
  height: 180px;
  background: url("../images/v161_910.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 616px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v161_913 {
  width: 270px;
  height: 180px;
  background: url("../images/v161_913.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 930px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v161_916 {
  width: 270px;
  height: 180px;
  background: url("../images/v161_916.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 930px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v161_919 {
  width: 294px;
  height: 392px;
  background: url("../images/v161_919.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1244px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v169_943 {
  width: 178px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 172px;
  left: 1471px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v161_934 {
  width: 266px;
  height: 266px;
  background: url("../images/v161_934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.6000000238418579;
  position: absolute;
  top: 334px;
  left: 1329px;
  overflow: hidden;
}
.v161_941 {
  width: 30px;
  height: 30px;
  background: url("../images/v161_941.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 1430px;
  overflow: hidden;
}
.v172_1418 {
  width: 502px;
  height: 497px;
  background: url("../images/v172_1418.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 762px;
  left: 1129px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v180_1234 {
  width: 726px;
  height: 108px;
  background: url("../images/v180_1234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 1057px;
  left: 643px;
  overflow: hidden;
}
.v180_1235 {
  width: 726px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v180_1236 {
  width: 312px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v180_1237 {
  width: 336px;
  height: 114px;
  background: url("../images/v180_1237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 0px;
  overflow: hidden;
}
