*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Caja del login */
.login-box{
    background: #ffffff;
    width: 380px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

/* Logo redondo */
.logo{
    width: 80px;
    height: 80px;
    background: #4CAF50;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    border-radius: 50%;
    font-weight: bold;
}

h2{
    color: #333;
    margin-bottom: 5px;
}

.subtitle{
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Inputs */
input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin: 8px 0 15px;
    border-radius: 8px;
    font-size: 14px;
}

/* Botón */
button{
    width: 100%;
    padding: 12px;
    background: #4CAF50;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background: #43a047;
    transition: 0.2s;
}

/* Links inferiores */
.links{
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.links a{
    font-size: 14px;
    text-decoration: none;
    color: #4CAF50;
}

/* Responsive */
@media (max-width: 420px){
    .login-box{
        width: 100%;
        padding: 20px;
    }
}
